[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/share/applications/dsa-project-1.0.py
Name=dsa-project-1.0
Icon=/usr/share/dsa-project-1.0/Dr.jpg
Categories=Application;Internet;Network;GTK;GNOME
